.cart__head {
  height: 40px;
  width: 100%;
  padding: 30px 0;
}

.cart__head--left {
  float: left;
}

.cart__head--left-title {
  font-size: 30px;
}

.cart__head--right {
  float: right;
}

.cart__body--table-head {
  font-size: 14px;
  margin-bottom: 20px!important;
}

.row {
  position: relative;
  display: flex;
  margin: 20px;
  padding: 10px 30px;
}

.row > div {
  position: relative;
  width: 30%;
}

.row:nth-child(odd):not(.cart__body--table-head) {
  background: var(--black);
  padding-top: 20px;
  padding-bottom: 20px;
}

.row:nth-child(odd):not(.cart__body--table-head) .count {
  background: var(--gray)
}

.row > div:first-child,
.row > div:last-child {
  width: 100px;
}

.row > div image {
  width: 80px;
  height: 100px;
}

.label {
  font-size: 12px;
  opacity: 0.5;
}

.remove {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 10px;
  height: 10px;
}

.remove:hover {
  opacity: 0.3;
}

.remove:before, .remove:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: var(--white);
}

.remove:before {
  transform: rotate(45deg);
}

.remove:after {
  transform: rotate(-45deg);
}
