<div class="container-small row rounded">
  <div>
    <image src="{{image}}" class="rounded" width="80" height="80" />
  </div>
  <div class="col">
    <div>{{name}}</div>
    <div class="label">{{id}}</div>
  </div>
  <div class="col h-centered">{{price}}</div>
  <div class="col">
    <div class="count container-small centered rounded black-bg">{{quantity}}</div>
    <span class="label underlined hoverable">Update</span>
  </div>
  <div class="col">
    <div class="remove hoverable centered"></div>
  </div>
</div>