/*------------------------------------*\
  #THEME SETTINGS
\*------------------------------------*/

:root {
  /*  ---- colors ----  */
  --red: #a2000d;
  --white: #ffffff;
  --gray: #1b1b1b;
  --dark-gray: #0b0b0b;
  --black: #000000;

  /* ---- font sizes ---- */
  --default: 16px;
  
  --small: 12px;
  --medium: 14px;
  --large: 30px;
  
  /*  ---- others ----  */
  --content-width: calc(100% - 60px);
}

/*------------------------------------*\
  #THEME CLASSES
\*------------------------------------*/

.red-bg {
  background: var(--red);
  color: var(--white);
}

.gray-bg {
  background: var(--gray);
  color: var(--white);
}

.dark-gray-bg {
  background: var(--dark-gray);
  color: var(--white);
}

.black-bg {
  background: var(--black);
  color: var(--white);
}
