.cart__head {
  height: 40px;
  width: 100%;
  padding: 30px 0;
}

.cart__head--left {
  float: left;
}

.cart__head--left-title {
  font-size: var(--large);
}

.cart__head--right {
  float: right;
}

.cart__body {
  margin-bottom: 50px;
}

.cart__body--table-head {
  font-size: var(--medium);
  margin-bottom: 20px!important;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.row {
  position: relative;
  display: flex;
  margin: 20px 0;
  padding: 10px 30px;
}

.row > div {
  width: 30%;
  align-self: center;;
}

.row:not(.cart__body--table-head) {
  height: 80px;
}

/* todo: clean up these direct child styles */

.row > div:first-child {
  width: 100px;
}

.cart__body--table-col {
  position: relative;
}

.row img {
  margin-left: -30px;
  margin-top: 3px;
}

.row:nth-child(odd):not(.cart__body--table-head) {
  background: var(--black);
  padding-top: 0;
  padding-bottom: 0;
}

.row:nth-child(odd):not(.cart__body--table-head) .quantity {
  background: var(--gray)
}

.row .cart__body--table-col:first-child,
.row .cart__body--table-col:last-child {
  width: 80px;
}

.label {
  font-size: var(--small);
  opacity: 0.5;
}

.remove {
  width: 10px;
  height: 10px;
}

.remove:hover {
  opacity: 0.3;
}

.remove:before, .remove:after {
  position: absolute;
  right: 20px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: var(--white);
}

.remove:before {
  transform: rotate(45deg);
}

.remove:after {
  transform: rotate(-45deg);
}

.single-digit {
  width: 10px;
  border: 0;
}

.double-digit {
  width: 20px;
  border: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
}