<div class="cart">
  <div class="cart__head">
    <div class="cart__head--left">
      <span class="cart__head--left-title">Your Cart</span>
    </div>
    <div class="cart__head--right">
      <d-breadcrumbs></d-breadcrumbs>
    </div>
  </div>
  <div class="cart__body">
    <div id="cartTable" class="cart__body--table">
      <div class="cart__body--table-head row dark-gray-bg rounded">
        <div class='cart__body--table-col'></div>
        <div class='cart__body--table-col'>Product Name</div>
        <div class='cart__body--table-col'>Price</div>
        <div class='cart__body--table-col'>Quantity</div>
        <div class='cart__body--table-col'>Remove</div>
      </div>
    </div>
  </div>
</div>
