.breadcrumb {
  padding: 10px;
}

.breadcrumb__link {
  cursor: pointer;
}

.breadcrumb__arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 10px;
}

.breadcrumb__arrow:before {
  content: '\21FE';
}

.breadcrumb .breadcrumb__arrow:last-child {
  display: none;
}
